@font-face {
  font-family: open-sans;
  src: url("../fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: open-sans;
  src: url("../fonts/OpenSans-Bold.woff");
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: open-sans, sans-serif;
  font-size: 16px;
}

/* P O P U P */

._hidden {
  visibility: hidden;
}

.popup {
  position: fixed;
  top: calc(50% - 295px);
  left: calc(50% - 190px);
  display: block;
  width: 381px;
  height: 589px;
  padding: 53px 29px 55px;
  background-color: #ffffff;
  z-index: 3;
}

/* .popup::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
} */

.popup-cotainer {
  position: relative;
  max-width: 381px;
  width: 100%;
}

.popup-container::before,
.popup-container::after {
  position: absolute;
  content: url("../svg/form-x.svg");
  display: block;
  cursor: pointer;
  top: -30px;
  right: 0;
  width: 20px;
  height: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
  font-size: 13px;
}

.form-div:nth-child(n + 2) {
  margin-top: 28px;
}

.span-form {
  display: block;
  margin-bottom: 13px;
}

.select {
  padding-left: 18px;
  padding-right: 18px;
  width: 100%;
  height: 48px;
  border: none;
  background-color: #f4f7f6;

  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 10px;
  cursor: pointer;
}

.radio-div {
  display: inline-block;
  vertical-align: middle;
}

.radio-answer {
  display: none;
}

.label-radio {
  margin-right: 14px;
  cursor: pointer;
}


.label-radio::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;

  width: 18px;
  height: 18px;

  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center center;
}

.radio-answer:checked~.label-radio::before {
  background-image: url("../svg/form-circle.svg");
}

.textarea {
  width: 100%;
  font-family: open-sans, sans-serif;
  font-size: 1em;
  resize: none;
  padding: 17px 20px;
  border: none;
  background-color: #f4f7f6;
  outline: none;
}

.form-div>.button {
  margin-top: 0;
}

/* H E A D E R */

.header {
  background-image: url("../img/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  position: relative;
  z-index: 0;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.header-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 27px 15px 147px 15px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7.6rem;
  /*7.6rem 127px*/
}

.logo-img {
  max-width: 180px;
  width: 100%;
}

.menu-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.menu__button {
  width: 24px;
  height: 19px;
  border: none;
  padding: 0;

  background-color: transparent;
  font-size: 25px;
  position: relative;
  text-indent: -9999px;
  cursor: pointer;
}

.menu__button:before,
.menu__button:after {
  content: "";
  width: 100%;
  height: 20%;

  border-radius: 3px;
  background-color: #ffffff;

  position: absolute;
  right: 0;
}

.menu__button:before {
  top: 0;
}

.menu__button:after {
  bottom: 0;
}

.menu__button-label {
  width: 100%;
  height: 25%;
  margin-top: -2px;

  border-radius: 3px;
  background-color: #ffffff;

  position: absolute;
  right: 0;
  top: 50%;
}

.menu__button {
  visibility: hidden;
}

.menu-list-item:nth-child(n + 2) {
  margin-left: 33px;
}

.header-menu a {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
}

.title-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 7.6rem;
  /*7.6rem 127px*/
}

.header-title {
  font-size: 2.81rem;
  /*2.81rem 45px*/
  font-weight: bold;
  line-height: 1.7;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  max-width: 43rem;
  /*700/679px 43rem*/
}

/* T R E N D S - S E C T I O N */

.trends {
  margin-top: 4rem;
  /*4rem 64px*/
}

.h2-trends {
  text-align: center;
}

.trends-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
}

.trends-article {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 24.76%;
  min-height: 320px;
  padding: 18px 20px;

  background-color: #000000;
  background-size: cover;

  z-index: 0;
}

.trends-article::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.trends-img1 {
  background-image: url("../img/trend1.jpg");
}

.trends-img2 {
  background-image: url("../img/trend2.jpg");
}

.trends-img3 {
  background-image: url("../img/trend3.jpg");
}

.trends-img4 {
  background-image: url("../img/trend4.jpg");
}

.trends-discribe {
  padding: 39px 49px 37px 36px;

  border: 3px solid #b59f5b;
}

.trends-article .h2-title>.a-text-link {
  color: #ffffff;
}

/* M A I N */

.content {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem 15px 0 15px;
}

.content-size {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.main {
  max-width: 780px;
  display: flex;
  flex-wrap: wrap;
}

.articles {
  display: flex;
}

.articles:nth-child(n+2) {
  margin-top: 61px;
}

.articles-image {
  width: 100%;
}

.articles-note {
  max-width: 367px;
  width: 100%;
  margin-left: 30px;
}

.ul-articles,
.trends-ul {
  list-style: none;
  display: flex;
}

.articles-note-header-tags-list,
.trends-tags {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 12px;
}

.articles-note-header-tags,
.trends-tags-a {
  text-decoration: none;
  color: #b59f5b;
}

.articles-note-header-tags:hover,
.trends-tags-a:hover {
  text-decoration: underline;
  color: #c9c9c9;
}

.li-articles:nth-child(n + 2),
.trends-li:nth-child(n + 2) {
  margin-left: 20px;
}

.h2-title,
.price-new {
  text-transform: uppercase;
  font-size: 1.23rem;
  /*1.23rem 20px*/
  font-weight: bold;
}

.post-text-link {
  text-decoration: none;
  color: #000000;
}

.articles-note-header-tags-list,
.trends-tags,
.trends-tags-a {
  text-transform: uppercase;
}

.articles-note-date {
  font-size: 12px;
  color: #888888;
  font-weight: 400;
  margin-right: 14px;
}

.articles-note-author {
  text-decoration: none;
  color: #000000;
  font-size: 12px;
  font-weight: 700;
}

.articles-note-footer {
  margin-top: 33px;
  margin-bottom: 54px;
}

.articles-note-post,
.p-shop {
  font-size: 15px;
  line-height: 1.46;
  font-weight: 400;
}

/*A S I D E*/

.aside {
  max-width: 272px;
}

.aside-section:nth-child(n + 2) {
  margin-top: 60px;
}

.h3-title {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}

.h3-title::after,
.h2-trends::after {
  content: "";
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  width: 65px;
  height: 3px;
  background: #b59f5b;
}

.aside-post {
  display: flex;
  margin-top: 20px;
}

.aside-post:nth-child(n+2) {
  margin-top: 22px;
}

.aside-post-name {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  text-transform: uppercase;
}

.link-img,
.a-text-link,
.p-a-link {
  text-decoration: none;
  color: #000000;
}

.aside-post-img {
  width: 70px;
}

.aside-post-text {
  margin-left: 18px;
  margin-top: -5px;
}

.aside-post-date {
  font-size: 12px;
  text-decoration: none;
  color: #000000;
  opacity: 0.54;
}


.search {
  margin-top: 60px;
  display: flex;
  width: 100%;
}

.search-input {
  box-sizing: border-box;
  padding-left: 18px;
  padding-right: 18px;
  width: 222px;
  height: 47px;
  font-size: 13px;
  border: none;
  background-color: #f4f7f6;
  outline: none;
}

.search-button {
  border: none;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  background-color: #b59f5b;
  cursor: pointer;
  top: 0px;
  right: 0px;
  width: 47px;
  height: 47px;
}

.email-input {
  padding-left: 18px;
  padding-right: 18px;
  width: 100%;
  height: 48px;
  font-size: 13px;
  border: none;
  background-color: #f4f7f6;
  outline: none;
}

.button,
.email-button,
.shop-button {
  margin-top: 18px;
  height: 48px;
  border: none;
  width: 100%;
  background-color: #b59f5b;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.aside-tags {
  padding-bottom: 15px;
  padding-left: 0px;
}

.aside-tags-div {
  margin-top: -20px;
}

.aside-tags-title {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.aside-tags-name {
  margin-top: 15px;
  margin-right: 6px;
}

.aside-list-tags-link {
  align-items: center;
  align-content: space-between;
  text-decoration: none;
  text-transform: uppercase;
  color: #0f0d0e;
  font-size: 12px;
  border: 3px solid #f4f3f1;
  padding: 4px 13px;
  font-weight: 700;
}

.aside-themes-list {
  list-style: none;
}

.aisde-themes-list-name {
  margin-top: 14px;
  margin-left: 3px;
}

.aisde-themes-list-name::after {
  content: "";
  display: block;
  position: relative;
  margin-top: 14px;
  width: 100%;
  height: 1px;
  background: #eeeeee;
}

.aside-list-theme-link {
  text-decoration: none;
  align-items: center;
  align-content: space-between;
  color: #000000;
  font-size: 14px;
  padding: 0 5px 0 0;
  font-weight: 700;
}

.counter {
  display: inline-block;
  vertical-align: top;
  color: #b59f5b;
  font-size: 12px;
  font-weight: 700;
}

/* S H O P - S E C T I O N */

.content-shop {
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  flex-basis: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.shop-cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.shop-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 29.7%;
}

.shop-img {
  display: flex;
}

.shop-describe {
  position: relative;
  min-height: 267px;
  margin-top: -32px;
  padding: 50px 23px 20px;
  border: 3px solid #b59f5b;
  z-index: 1;
}

.h2-shop {
  font-size: 17px;
  margin-bottom: 0px;
}

.p-shop {
  margin-top: 12px;
}

.p-a-link {
  color: #b59f5b;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 22px;
}

.price-item {
  display: flex;
  flex-direction: column;
}

.price-old {
  text-decoration: line-through;
  font-size: 14px;

}

.price-old,
.price-new {
  margin-bottom: 0px;
  text-transform: uppercase;
  font-weight: 700;
}

.price-new {
  font-size: 20px;
}

.shop-button {
  width: 140px;
  margin-top: 0;
  font-size: 14px;
  line-height: 40px;
}

/* F O O T E R */

.footer {
  margin-top: 60px;
}

.footer-address {
  margin-bottom: 70px;
  background-color: #f4f7f6;
}

.footer-adress-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.footer-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0 15px 40px;
}

.social:nth-child(n + 2) {
  margin-left: 20px;
}

.social-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  padding: 30px 15px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.twitter {
  background-image: url("../svg/004-twitter.svg");
}

.pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.facebook {
  background-image: url("../svg/002-facebook-logo.svg");
}

.instagram {
  background-image: url("../svg/005-instagram.svg");
}

.tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.copyright {
  text-decoration: none;
  color: #999999;
  font-size: 12px;
  text-align: center;
  font-weight: 700;
}

/* ----------------------------------------
               T A B
---------------------------------------- */

@media (max-width: 1199px) {

  html {
    font-size: 14px;
  }

  .header {
    background-image: url("../img/banner-bg-tablet.jpg");
  }

  .menu-list {
    display: none;
  }

  .menu__button {
    visibility: visible;
  }

  .header-wrapper {
    padding: 51px 13px 121px;
  }

  .trends-cards,
  .articles,
  .trends-cards {
    flex-wrap: wrap;
  }

  .trends-article {
    flex-basis: 49.65%;
  }

  .trends-article:nth-child(n + 3) {
    margin-top: 0.5%;
  }

  .trends-discribe {
    padding: 36px 30px 32px 24px;
  }

  .content-size,
  .content-shop {
    width: 91%;
  }

  .main {
    width: 56%;
  }

  .articles:nth-child(n + 2) {
    margin-top: 40px;
  }

  .articles-note {
    margin-top: 16px;
    margin-left: 0;
  }

  .aside {
    width: 39%;
  }

  .shop-cards {
    width: 48.3%;
  }

  .shop-cards:nth-child(n + 3) {
    margin-top: 4%;
  }

  .footer-wrapper {
    width: 100%;
  }

}

/* ----------------------------------------
               M O B
---------------------------------------- */

@media (max-width: 640px) {

  html {
    font-size: 9px;
  }

  /* .header {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .menu {
    justify-content: center;
  } */

  .header {
    background-image: url("../img/banner-mobile.jpg");
    width: 100%;
    height: 100vh;
  }

  .logo-img {
    display: none;
  }

  /* 
  .title-wrapper {
    align-items: f;
  } */

  .mob-logo {
    max-width: 268px;
    width: 100%;
    margin-bottom: 6.6vh;
  }

  .menu__button {
    position: absolute;
    top: 31px;
    right: 14px;
    visibility: visible;
  }

  .trends-article {
    min-height: 232px;
    flex-basis: 100%;
  }

  .trends-mobile-img {
    background-position: center -50px;
  }

  .trends-article:nth-child(n + 2) {
    margin-top: 1%;
  }

  .trends-discribe,
  .content-size,
  .main,
  .articles,
  .aside,
  .search-input,
  .content-shop,
  .shop-cards {
    width: 100%;
  }

  .content,
  .aside {
    padding-top: 44px;
  }

  .content-size {
    flex-wrap: wrap;
  }

  .articles {
    display: unset;
  }

  .articles-note {
    margin-left: 0;
    margin-top: 14px;
  }

  .articles-note:after {
    content: "";
    display: block;
    position: relative;
    margin-top: 21px;
    width: 100%;
    height: 3px;
    background-color: #808080;
    opacity: 0.3;
  }

  .h2-title {
    font-size: 1.7rem;
  }

  .articles-note-footer {
    margin-top: 23px;
    margin-bottom: 20px;
  }

  .aside, .articles-note {
    max-width: unset;
  }

  .shop-cards {
    margin-top: 10px;
  }

  .p-shop {
    font-size: 14px;
  }
}